/* Main */
html body {
	margin: 0;
	font-family: 'luckiest guy'; 
	/* height: 100%; */
  }

  /* wrapper of all content except footer */
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

/* Main content */
  main {
	background-color: #c536834d;
	flex: 1;
  }

  /* Navigation and Offcanvas Navigation */
  .fixed-top {
	height: 90px;
	display: block; 
  }
  

  .text-outline {
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
    -webkit-text-fill-color: black;
    text-fill-color: black;
  }

 

  /* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  /* Adjust the height of the navigation bar for smaller screens */
  .fixed-top {
      height: 60px;
  }

  /* Adjust the font size of the business name heading */
  .display-1 {
      font-size: 3rem;
  }

  /* Adjust the padding for the business name heading */
  .mt-5 {
      margin-top: 3rem !important;
  }

  /* Adjust the font size of the "In Development" message */
  .display-1.text-outline {
      font-size: 2rem;
  }

  /* Adjust the font size of the social media buttons */
  .fs-3 {
      font-size: 2rem !important;
  }

  /* Adjust the font size of the copyright notice */
  .text-light {
      font-size: 0.8rem;
  }

  img {
    height: 50px;
    width: 60px;
  }
}

@media only screen and (min-width: 769px) {
  /* Adjust the padding for the business name heading */
  .mt-5 {
      margin-top: 5rem !important;
  }
}
