body {
  margin: auto;  
}

.opacity {
  background: rgba(197,55,131,0.3)
}

#logo {
  top: 0;
  left: 0;
}

header {
  background: rgba(197,54,131);
  position:relative;
  height: 200px;
}

h2 {
  font-family:sans-serif;
  text-align: center;
  font-size: 100px;
  margin-top: 200px;
}

#header1 {
  text-align:center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight:bolder;
  color:black;
  top:10px;
}

.fa {
  padding: 5px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  color: white; 
}
  
.fa-instagram {
  color: #fff;  
}

footer {
  background-color:#C53783;
  bottom:0;
  position:fixed;
  width: 100%;
}

#footer {
  text-align: center;
  font-size:25px;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}
